@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&display=swap');
html,body,header,footer,main,article,aside,nav,menu,h1,h2,h3,h4,h5,p,a,ul,ol,li,div,span,img,form,input,button,table,tr,td,th{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    color: inherit;
    font-family: "Noto Sans TC", serif;
}
img{
    /*width:100%;*/
    vertical-align: bottom;
}
html,body{
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background-image: url(../images/bgc_tr.png);
    background-size: cover;
    background-position: center;
}
:root{
    --logoColor: #FFA40E;
    --textColor: #50effd;
    --textColorAlpha: #fae203;
    --transition: all 800ms ease;
}

/* Header */
header{
    width: 100%;
    height: 128px;
    line-height: 64px;
    text-align: center;
    padding: 60px 1em 0;
    font-size: 24px;
    letter-spacing: 6px;
    position: relative;
    z-index: 30;
}
header img{
    border-radius: 50%;
    width: auto;
    height: 45px;
    vertical-align: middle;
}
header span{
    color: var(--logoColor);
    vertical-align: middle;
}
main{
    width: 100%;
    height: calc(100vh - 224px);
    display: flex;
    justify-content: center;
    align-items: center;
}
main .box{
    width: 50%;
    max-width: 300px;
    margin: auto;
    overflow: hidden;
    position: relative;
}
main .box .bar{
    width: 100%;
    height: 3em;
    position: absolute;
    top: calc(50% - 1.5em);
    left: 0;
}
main .box .bar > div{
    font-size: 55px;
    color: var(--textColorAlpha);
    position: absolute;
    cursor: pointer;
    transition: var(--transition);
}
main .box .bar > div:hover{
    color: var(--textColor);
}
main .box .bar #prev{
    left: 10px;
}
main .box .bar #next{
    right: 10px;
}
main .box .slide{
    width: calc(100% * 3);
    display: flex;
    flex-wrap: nowrap;
    transition: var(--transition);
}
main .box .slide .item{
    width: calc(100% / 3);
    position: relative;
}
main .box .slide .item h2{
    width: 100%;
    height: 2em;
    line-height: 2em;
    position: absolute;
    bottom: 0;
    left: 0;
    text-align: center;
    color: var(--textColorAlpha);
    font-size: 40px;
}
main .box .slide .item .card{
    position: relative;
    transition: var(--transition);
    transform: perspective(800px);
}

main .box .slide .item .card img{
    width: 100%;
    opacity: 0;
    border-radius: 25px;
}
main .box .slide .item .card > div{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-size: cover;
}
main .box .slide .item .card .front{
    background-image: url(../images/0.jpg);
    border-radius: 20px;
}
main .box .slide .item .card .back{
    background-image: url(../images/cardbg.jpg);
    border-radius: 20px;
}

main .box .slide .item .card.rotate{
    transition: var(--transition);
    transform: rotateY(180deg);
}
main .box .slide .item .card .front.rotate{
    transition: var(--transition);
    transform: rotateY(-180deg);
}
main .box .slide .item .card .front.revers{
    transform: rotateZ(180deg)!important;
}
main .box .slide .item .card .back.rotate{
    transition: var(--transition);
    transform: rotateY(180deg);
    backface-visibility: hidden;
}
aside{
    width: 90%;
    height: 90vh;
    background-color: #FFF8;
    backdrop-filter: blur(5px);
    padding: 1.5em;
    position: fixed;
    top: calc(50vh - 45vh);
    left: -100%;
    transition: var(--transition);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 40;
    font-size: 12px;
}
aside.info{
    left: calc(50% - 45%)!important;
}
aside .close{
    position: absolute;
    top: 0.5em;
    right: 0.5em;
    cursor: pointer;
    z-index: 99;
}
footer{
    width: 100%;
    height: 96px;
    text-align: center;
    padding: 2em 1em 0;
    color: var(--textColor);
}

#start{
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    background-image: url(../images/bgc_tr.png);
    background-size: cover;
    background-position: left bottom;
    padding-top: 128px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: space-evenly;
}
#start h1{
    color: var(--textColor);
    text-align: center;
    padding: 0.5em;
}
#start article{
    width: 100%;
    height: calc(100vh - 410px);
    position: relative;
}
#start article img{
    width: 25%;
    position: absolute;
    top: 10px;
    left: calc(50% - 12.5%);
    border-radius: 18px;
}
#start article:hover img{
    animation: run 3s ease 1 forwards;
}
#start article:hover img:nth-of-type(2){
    transform: translate(0px,0px);
    animation-delay: 4s;
}
#start article:hover img:nth-of-type(3){
    transform: translate(5px,5px);
    animation-delay: 3s;
    animation: alternate-reverse;
}
#start article:hover img:nth-of-type(4){
    transform: translate(10px,10px);
    animation-delay: 2s;
}
#start article:hover img:nth-of-type(5){
    transform: translate(15px,15px);
    animation-delay: 1s;
}
#start article:hover img:nth-of-type(6){
    transform: translate(20px,20px);
    animation-delay: 0s;
    animation: alternate-reverse;
}
#start h4{
    width: 100%;
    text-align: center;
    color: var(--textColor);
}

@keyframes run{
    0%{
        transform: rotate(0);
    }
    25%{
        transform: translate(30%,30%) rotate(60deg);
    }
    50%{
        transform: translate(70%,20%) rotate(160deg);
    }
    75%{
        transform: translate(10%,0) rotate(360deg);
    }
    100%{
        transform: translate(0,0) rotate(0deg);
    }
}

@media only screen and (min-width: 410px){}
@media only screen and (min-width: 768px){
    aside{
        font-size: 16px;
    }
}
@media only screen and (min-width: 1024px){
    main .box{
        width: 100%;
        max-width: 750px;
        overflow: visible;
        justify-content: space-evenly;
    }
    main .box .slide{
        width: 100%;
    }
    main .box .slide .item{
        width: calc(100% - 40px);
        margin: 0 20px;
    }
    main .box .bar{
        display: none;
    }
    aside .box{
        padding: 2em;
    }
    #start article img{
        width: 100px;
        left: calc(50% - 50px);
    }
}
@media only screen and (min-width: 1440px){
    main .box{
        width: 100%;
        max-width: 950px;
    }
    #start article img{
        width: 250px;
        left: calc(50% - 125px);
    }
}